numpy
scipy
matplotlib
pandas
seaborn
statsmodels
# Infrastructure things
jupyterlab==3.4.5
voila==0.2.6
nbgitpuller==0.10.*
jupyter-resource-usage==0.5.0
RISE==5.7.1
jupyter_contrib_nbextensions==0.5.1
notebook==6.4.12
jupyterhub==2.3.1
jupyter-rsession-proxy==1.2
jupyter-tree-download==1.0.1
ipywidgets==7.7.1
otter-grader==3.3.0
datascience
geojson
folium
# JupyterLab extensions
jupyterlab_widgets==1.0.*
jupytext==1.10.*
jupyter-server-proxy==3.0.2